src/main/mule/mulesoft_project_parallel.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="mulesoft_project_parallelFlow" doc:id="c8a248ae-082e-435a-9b7c-a5ce1ce0f997" >
		<http:listener doc:name="Listener" doc:id="38ea9125-8c85-4e68-9e8e-643c8069258b" config-ref="HTTP_Listener_config" path="/sfdc">
			<http:response >
				<http:body ><![CDATA[#[%dw 2.0
output application/json
---
payload]]]></http:body>
			</http:response>
			<http:error-response >
				<http:body ><![CDATA[#[payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="2d0f482e-76bd-4706-bccc-7432c79bd668" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload
    ]]></ee:set-payload>
			</ee:message>
			<ee:variables >
			</ee:variables>
		</ee:transform>
		<try doc:name="Try" doc:id="90281450-3b5a-4ebb-b054-071683ffc2c5" >
			<parallel-foreach doc:name="Parallel For Each" doc:id="159a3b9e-55bf-4a74-acea-c60f025e3a76" collection="#[payload]">
			<set-variable value="#[payload]" doc:name="Set Variable" doc:id="841d4fb0-1cda-4459-95fb-5ae236249762" variableName="req" />
			<http:request method="GET" doc:name="Request" doc:id="f2cbf3dc-ea6e-4eda-ba1b-540e901acfdd" url="http://httpproject.us-e2.cloudhub.io/test" target="req-response">
				<http:query-params><![CDATA[#[output application/java
---
{
	"ids" : vars.req.id
}]]]></http:query-params>
			</http:request>
			<db:insert doc:name="Insert" doc:id="9e640ec2-4622-4e34-bf61-5e09230b880e" config-ref="Database_Config" target="insert-response">
				<db:sql><![CDATA[INSERT INTO ACCOUNT (Name)
VALUES (:Name)]]></db:sql>
				<db:input-parameters><![CDATA[#[{
	"Name":vars.req.Name
	}]]]></db:input-parameters>
			</db:insert>
			<ee:transform doc:name="Transform Message" doc:id="73d370ef-070f-4230-94db-4af1d84906bb">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"req-response" : vars."req-response",
	"insert-response" : vars."insert-response"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		</parallel-foreach>
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="24f44d29-54b0-4880-801a-f07e72dca963" type="ANY">
					<ee:transform doc:name="Transform Message" doc:id="5edde6af-ddca-4811-8ca2-f34294d22c7c" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"dis":error.description,
	"type":error.errorType
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</on-error-continue>
			</error-handler>
		</try>
		<ee:transform doc:name="Transform Message" doc:id="86f9caf3-1636-4d99-9b13-18afbcc00495" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"this is payload"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
